body {
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: bakso sapi;
    text-align: center

}

a {
    color: #fff;
    font-family: bakso sapi;
    font-size: 30px;
    text-align: center
}

p {
    color: #fff;
    font-family: bakso sapi;
    font-size: 30px;
    text-align: center
}

#option {
    font-size: 50px;
}



#ending {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#forestgreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#first {
    font-size: 15px;
}

#first1 {
    font-size: 15px
}

#first1 {
    color: #fff;
    background: black;
}

#first1:hover {
    color: #000;
    background: #fff
}
#main{
      color: #fff;
    font-size: 60px
}
h2{
    color: #fff;
    font-size: 20px
}
#abbychen{
    font-size: 18px
}
#scribbleimage {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
audio{
    opacity: 0;
} 
#midst{
    color: #fff;
    font-size: 100px
        
}

#midst:hover{
    color: #000
}
#big{
      text-align: center;
    font-family: bakso sapi;
    font-size: 100px;
}
#white{
       color: #000;
    text-align: center;
        position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    font-size: 100px
}
#choices{
       text-align: center;
    font-family: bakso sapi;
    font-size: 50px
}
#directions{
     color: #fff;
    text-align: center;
    font-family:bakso sapi;
    font-size: 17px
}