body{
    background: #000;
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    color: #fff;
    font-size: 60px
}

body{
    text-align: center;
    font-family: bakso sapi
}

h2{
    color: #fff;
    font-size: 20px
}

a{
    color: #fff
}
#abbychen{
    font-size: 18px
}